In [1]:
from functions import *
import pandas as pd
import numpy as np
import seaborn as sns
import yfinance as yf

In [2]:
S0, r, u, options = get_options_price('aapl tsla msft')
r = r/365
options.head()

,contractSymbol,bid,ask,lastPrice,strike,option_type,expirationindays,underlying,up
0,AAPL240315C00005000,0.00,0.00,164.30,5.0,C,6,AAPL,1.012018
1,AAPL240315C00010000,158.75,159.45,178.00,10.0,C,6,AAPL,1.012018
2,AAPL240315C00015000,0.00,0.00,168.80,15.0,C,6,AAPL,1.012018
3,AAPL240315C00020000,0.00,0.00,168.96,20.0,C,6,AAPL,1.012018
4,AAPL240315C00025000,0.00,0.00,158.85,25.0,C,6,AAPL,1.012018

In [12]:
# fast tree
for index, row in options.iterrows():
    if row['option_type'] == 'C':
        options.loc[index, 'fast_tree'] = american_fast_tree(
            K=row['strike'],
            T=row['expirationindays'],
            S0=S0[row['underlying']],
            r=r,
            N=row['expirationindays'],
            u=row['up'],
            d=(1/row['up']),
            opttype=row['option_type']
        )
    else:
        options.loc[index, 'fast_tree'] = binomial_tree_fast(
            K=row['strike'],
            T=row['expirationindays'],
            S0=S0[row['underlying']],
            r=r,
            N=row['expirationindays'],
            u=row['up'],
            d=(1/row['up']),
            opttype=row['option_type']
        )